---
---

<h1 style="text-align: center">Articles</h1>

<table>
<% blog.articles.each_with_index do |article, idx| %>

  <% if idx % 2 == 0 %>
  <tr>
  <% end %>

  <td style="width:50%;padding-right:20px;padding-bottom:30px;">
  <article>
    <h1>
      <a href="<%= article.url %>"
       style="font-size: small;color: rgb(255, 255, 255);">
       "<%= article.title %>"</a>
       <span style="font-size:small; color:rgb(205,205,205);">by <%= article.data[:authors] %></span>
      
    </h1>
   
    <%= article.summary %>

    <a href="<%= article.url %>" style="font-size: small;color: rgb(255, 255, 255);">Read more...</a>
  </article>
  </td>

  <% if idx % 2 == 1 %>
  </tr>
  <% end %>
<% end %>
